<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h2>Add new materials</h2>
    <%= bootstrap_form_for(@new_material) do |f| %>
      <%= f.text_field :title, placeholder: "Enter Title" %>
      <textarea id="material_body" name="material[body]"></textarea>
      <%= f.hidden_field :kind, value: "article" %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
<script>
  $(function() {
      $('#material_body').editable({inlineMode: false});
  });
</script>