<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1><%= @material.title %></h1>
    <span class="label label-default"><%= @material.kind %></span>
    <div class="row">
    <hr>
      <p><%= @material.body %></p>
    </div>
  </div>
</div>